* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    height: 70px;
}
.brand a:hover {
    text-decoration: none;
}
.brand h4 {
    line-height: 35px;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: 400;
    background-image: linear-gradient(60deg, #196edd 0%, #485563 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px  rgb(199, 199, 199);
}
.navbar-nav .login {
    min-height: 40px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-image: 
    linear-gradient(to top, #9e9e9e -20%, #fbc8d4 100%);
    color: white;
    font-weight: bold;
    transition: .4s;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px rgb(175, 175, 175);
    transition: .4s;
}
.navbar-nav .login:hover {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    color: #ffffff;
}
.brand .gital {
    color: rgb(116, 111, 111);
    font-weight: 500;
}
.brand2 .navbar-brand {
    font-family: 'Segoe UI';
}


.konten{
    width: 100%;
    height: 800px;
    background-position-y: -100px;
    background-size: cover;
    background-image: url(../img/jumbotron2.jpg);
}
.isi {
    width: 100%;
    text-align: center;
    padding-top: 180px;
}
.isi h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-clip: text;
    color: transparent;
}
.isi h3 {
    font-family: 'Segoe Script';
    color: #dfb6b4;
    font-size: 20px;
}
.isi .username {
    color: #f7d3c7;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
}
.isi .desc {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    opacity: 0.7;
    font-family: 'Segoe UI';
}
.isi .form-control {
    max-width: 910px;
    margin: 30px 0px 0 100px;
    float: left;
    min-height: 60px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    box-shadow: 2px 2px 10px black;
}
.isi .search {
    max-width: 150px;
    margin: auto;
    height: 55px;
    font-family: 'Montserrat';
    font-weight: bold;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #ff9a9e 95%, #fad0c4 100%);
    border: none;
    border-radius: 50px;
    color: rgb(240, 239, 239);
    box-shadow: 4px 4px 10px rgb(63, 62, 62);
}
.tombol {
    width: 80px;
    height: 40px;
    border: none;
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #fff1eb 0%, #eec88c 100%);
    border-radius: 50px 50px;
}
.garis {
    margin: auto;
    margin-top: 20px;
    max-width: 40px;
    border: 2px solid #cf985f;
    border-radius: 20px 20px;
}
.garis1 {
    margin: auto;
    margin-top: 20px;
    max-width: 40px;
    border: 2px solid white;
    border-radius: 20px 20px;
}




/* FITUR FITUR */
.fitur {
    padding: 50px 20px 50px 120px;
}
.fitur .card {
    background-image: linear-gradient(to top, #ffffff 0%, rgb(195, 195, 195) 100%);
    margin-top: -170px;
    padding: 30px;
    border-radius: 0 0;
    border: none;
    height: 230px;
}
.fitur .all-genre p, .all-genre small {
    color: #4179c2!important;
}
.fitur a:hover {
    text-decoration: none;
}
.fitur .card-img-top {
    width: 100px;
    margin: auto;
}
.fitur .card-text {
    font-family: 'Segoe UI';
    text-transform: uppercase;
    font-weight: bold;
    color: salmon;
    
}
.fitur .card-body small {
    color: rgb(155, 155, 155);
    font-size: 15px;
    font-family: 'Montserrat';
}
/* AKHIR FITUR */

.clear {
    clear: both;
}

.link-detail:hover {
    text-decoration: none;
}
.card-img-top:hover ~ .detail {
    transform: scale(1)
}
.link-detail:hover .card-img-top {
    opacity: .3;
    text-decoration: none;
}
.iklan-buku .detail {
    transform: scale(0);
    transition: .4s;
    z-index: 999;
    margin-top: -500px;
}
.iklan-buku h1 {
    font-family: 'Montserrat';
    padding-top: 50px;
    font-weight: bold;
    color: rgb(71, 67, 67);
}
.iklan-buku a {
    text-decoration: none;
    color: black;
}
.iklan-buku .card {
    height: 670px;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    box-shadow: 4px 4px 15px;
}
.iklan-buku .card-img-top {
    margin: auto;
    border-radius: 5px 5px 0 0;
    transition: .3s;
    width: 319px;
    border-bottom: 1px solid rgb(158, 158, 158);
}
.iklan-buku .card-text {
    margin-top: -10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(212, 98, 85);
}
.iklan-buku .card-judul {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: rgb(95, 93, 93);
    text-transform: uppercase;
}

/* banner detail */
.banner {
    width: 100%;
    height: 490px;
    margin-top: 60px;
    padding: 30px;
    background-color: rgba(201, 209, 248, 0.933);
}
.banner .thumbnail {
    margin: 30px 0px 100px 50px;
    height: 370px;
    box-shadow: 2px 2px 5px rgb(137, 137, 137);
    border-radius: 5px 5px;
}
.banner .banner-detail {
    padding: 15px;
    margin-left: 400px;
}
.banner-detail .judul {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: salmon;
    text-shadow: 2px 2px rgb(141, 140, 140);
}
.banner-detail .penulis {
    font-size: 25px;
    font-family: 'Raleway';
}
.banner-detail .penerbit {
    font-weight: 600;
    font-size: 23px;
    font-family: 'raleway';
}
.banner-detail .kategori {
    font-size: 18px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 500;
}
.banner-detail .rating {
    font-weight: 600;
    padding-left: 10px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner-detail .btn-baca, .banner-detail .btn-baca-login {
    width: 250px;
    height: 50px;
    padding: 10px;
    border-radius: 50px 50px;
    border: 3px solid salmon;
    background-color: transparent;;
    color: rgb(61, 61, 61);
    font-weight: bold;
}
/* akhir detail */
/* .banner-sinopsis {
